*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,violet,white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 40px;
}
.digibox{
    width: 800px;
    height: 180px;
    background: rgb(226, 216, 216);
    border-radius: 20px;
}
.clock{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: "Hours";
}
#min::after{
    content: "min";
}
#sec::after{
    content: "sec";
}
.stopbox{
    width: 800px;
    height: 180px;
    background: rgb(233, 227, 227);
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timer{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 80px;
}
button{
    padding: 10px 20px;
    margin: 10px ;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(176, 125, 224);
}
