*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
 width: 100%;
 height: 100vh;
 background: linear-gradient(135deg, rgb(32, 37, 32),rgb(160, 160, 222));
 padding: 10px;
}
.todoApp{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoApp h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(230, 224, 213);
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 17px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: orangered;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: gray;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: gray;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: rgb(201, 191, 191);
    border-radius: 50px;
}