*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid black;

}
button{
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5rem;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}